.container {

    padding-top: 25px;

}

#left-column-box {

    height: 300px;

}

#middle-column-box {

    height: 500px;

}

#right-column-box {

    height: 200px;

}

.placeholder-box {

    background-color: #eee;
    height: 100%;
    margin-left: -5px;
    margin-right: -5px;

}

.container-box {

    margin-left: -5px;
    margin-right: -5px;

}

span.ng-binding {

    margin-left: -4px;

}

#full-name {

    margin-bottom: 20px;
    margin-left: 10px;

}

.minimap-clicked {

    background-color: #ccf;

}

.minimap-hovered {

    background-color: #ccc;

}

.minimap-clicked.minimap-hovered {

    background-color: #bbc;

}

path {

    fill: none;
    stroke: #bbb;

}
